
.sobreMim div, .projetos div, .blog div {
  color: var(--highlight) !important;
}

.sobreMim img {
  content: url("../../images/icons/icon_sobremim_fill.svg");
}

.projetos img {
  content: url("../../images/icons/icon_projetos_fill.svg");
}

.blog img {
  content: url("../../images/icons/icon_blog_fill.svg");
}
